.general {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: 30px 6% 0 6%;
    gap: 40px;
    justify-content: space-evenly;
    text-align: center;
}

.filter {
    color: rgb(159, 159, 159);
    font-size: large;
    text-align: left;
    margin: 0 0 0 3rem;
    width: 40%;
}

.filter select {
    width: 50%;
}

label {
    margin-right: 10px;
    font-size: large;
}

select {
    margin-top: 20px;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    font-size: large;
}

select option {
    margin-top: 20px;
    background-color: rgb(206, 193, 212);
    border-radius: 5px;
    font-size: large;
}

.loading {
    cursor: wait;
}

/* 
*
*
CARTEL
*
*
 */
.cartel {
    animation: fade 1s ease-in-out;
    background-color: rgb(6, 0, 5);
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
}

.cartel audio {

    padding: 10px 0 15px 0;
    position: fixed;
    width: 100%;
    height: 35px;
    top: 92%;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.401);
    transition: 1s;
}

.cartel img {
    border-radius: 10px;
    max-width: 80%;
    transition: 0.5s;
    opacity: 50%;
    background-color: rgba(255, 255, 255, 0);
}

.cartel img:hover {
    opacity: 100%;
    transform: scale(1.08) translate(0px, -10px);
    background-color: rgba(163, 163, 163, 0);
}

.cartel .title {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.cartel .artist {
    margin: 0;
    padding: 0;
    color: rgb(86, 0, 144);
    text-transform: capitalize;
}

.cartel a {
    color: rgba(2, 206, 2, 0.815);
    text-decoration: none;
}

.cartel p {
    color: rgba(96, 96, 96, 0.815);
    text-decoration: none;
}

.cartel .spol {
    padding-bottom: 30px;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: rotate(-180deg) scale(1%);
    }

    60% {
        opacity: 1;
        transform: rotate(12deg) scale(100%);
    }

    100% {
        opacity: 1;
        transform: rotate(0deg) scale(100%);
    }
}

@media screen and (max-width: 1070px) {
    .cartel img {
        max-width: 250px;
    }

    .general {
        grid-template-columns: 1fr 1fr;
    }

    .general p {
        font-size: large;
        grid-column: 1/3;
    }
}

@media screen and (max-width: 651px) {
    .filter {
        width: 80%;
    }

    .general {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .cartel img {
        max-width: 80%;
    }
}

@media screen and (max-width: 370px) {

    .general {
        justify-content: center;
    }

    .cartel {
        width: 100%;
        justify-content: center;
    }

    .cartel img {
        margin: auto;
        width: 100%;
    }
}